<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>
    <h2>Signup</h2>
    <form action="/signup" method="post">
        <label>
            name: <input type="text" name="username"  required>
        </label>
        <label>
            email: <input type="email" name="email" id="">
        </label>
        <label >
            password: <input type="password" name="password" required>
        </label>
        <button>Submit</button>
    </form>
</body>
</html>