<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome <%=currUser.username %></h2>

    <form action="/test/new" method="get">
        <button name="2">test of 2 questions</button>
        <button name ="5">test of 5 questions</button>
        <button name="7">test of 7 questions</button>
    </form>
    <form action="/result" method="get">
        <button>Total Results</button>
    </form>
</body>
</html>